:root {
    --main-color: #FF9292;
    --secondary-color: #fcd8dcb6;
    --third-color: #FFF9B6;
    --fourth-color: #FFE699;
}
body {
    background-color: var(--secondary-color);
}

.center {
  text-align: center;
}
.bg-custom {
    background-color: var(--main-color);
}
.name {
  margin: 30px;
}
.button-links {
  margin: 25px;
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  font-weight: bold;
}
.contact-link {
    background-color: var(--main-color);
    color: var(--third-color);
}
.contact-link:hover {
    background-color: var(--third-color);
    color: var(--main-color);
}
.about-link {
    background-color: var(--third-color);
    color: var(--main-color);
}
.about-link:hover {
    background-color: var(--main-color);
    color: var(--third-color);
}


.launch-links {
    background-color: var(--main-color);
    color: var(--third-color);
    margin: 0;
}
.launch-links:hover {
    background-color: var(--third-color);
    color: var(--main-color);
}
.images {
    width: 500px;
    height: 500px;
    max-width: 100%;
    border-radius: 4px;
}